<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImmoRelogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ImmoStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImmoRelogger.Properties.Settings>
            <setting name="im1" serializeAs="String">
                <value />
            </setting>
            <setting name="im2" serializeAs="String">
                <value />
            </setting>
            <setting name="im3" serializeAs="String">
                <value />
            </setting>
            <setting name="im4" serializeAs="String">
                <value />
            </setting>
            <setting name="im5" serializeAs="String">
                <value />
            </setting>
            <setting name="im6" serializeAs="String">
                <value />
            </setting>
            <setting name="im7" serializeAs="String">
                <value />
            </setting>
            <setting name="height" serializeAs="String">
                <value />
            </setting>
            <setting name="length" serializeAs="String">
                <value />
            </setting>
            <setting name="im8" serializeAs="String">
                <value />
            </setting>
            <setting name="im9" serializeAs="String">
                <value />
            </setting>
            <setting name="im10" serializeAs="String">
                <value />
            </setting>
            <setting name="MondayStartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MondayStartMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MondayStopHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MondayStopMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TuesdayStartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TuesdayStartMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TuesdayStopHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TuesdayStopMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WednesdayStartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WednesdayStartMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WednesdayStopHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WednesdayStopMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThursdayStartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThursdayStartMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThursdayStopHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThursdayStopMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FridayStartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FridayStartMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FridayStopHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FridayStopMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaturdayStartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaturdayStartMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaturdayStopHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaturdayStopMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SundayStartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SundayStartMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SundayStopHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SundayStopMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MondayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TuesdayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WednesdayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThursdayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FridayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaturdayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SundayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value />
            </setting>
            <setting name="Heigth" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value />
            </setting>
        </ImmoRelogger.Properties.Settings>
        <ImmoStarter.Properties.Settings>
            <setting name="im1" serializeAs="String">
                <value />
            </setting>
            <setting name="im2" serializeAs="String">
                <value />
            </setting>
            <setting name="im3" serializeAs="String">
                <value />
            </setting>
            <setting name="im4" serializeAs="String">
                <value />
            </setting>
            <setting name="im5" serializeAs="String">
                <value />
            </setting>
            <setting name="im6" serializeAs="String">
                <value />
            </setting>
            <setting name="im7" serializeAs="String">
                <value />
            </setting>
            <setting name="height" serializeAs="String">
                <value />
            </setting>
            <setting name="length" serializeAs="String">
                <value />
            </setting>
        </ImmoStarter.Properties.Settings>
    </userSettings>
</configuration>