<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImmoRelogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ImmoStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImmoRelogger.Properties.Settings>
            <setting name="im1" serializeAs="String">
                <value />
            </setting>
            <setting name="im2" serializeAs="String">
                <value />
            </setting>
            <setting name="im3" serializeAs="String">
                <value />
            </setting>
            <setting name="im4" serializeAs="String">
                <value />
            </setting>
            <setting name="im5" serializeAs="String">
                <value />
            </setting>
            <setting name="im6" serializeAs="String">
                <value />
            </setting>
            <setting name="im7" serializeAs="String">
                <value />
            </setting>
            <setting name="height" serializeAs="String">
                <value />
            </setting>
            <setting name="length" serializeAs="String">
                <value />
            </setting>
            <setting name="im8" serializeAs="String">
                <value />
            </setting>
            <setting name="im9" serializeAs="String">
                <value />
            </setting>
            <setting name="im10" serializeAs="String">
                <value />
            </setting>
        </ImmoRelogger.Properties.Settings>
        <ImmoStarter.Properties.Settings>
            <setting name="im1" serializeAs="String">
                <value />
            </setting>
            <setting name="im2" serializeAs="String">
                <value />
            </setting>
            <setting name="im3" serializeAs="String">
                <value />
            </setting>
            <setting name="im4" serializeAs="String">
                <value />
            </setting>
            <setting name="im5" serializeAs="String">
                <value />
            </setting>
            <setting name="im6" serializeAs="String">
                <value />
            </setting>
            <setting name="im7" serializeAs="String">
                <value />
            </setting>
            <setting name="height" serializeAs="String">
                <value />
            </setting>
            <setting name="length" serializeAs="String">
                <value />
            </setting>
        </ImmoStarter.Properties.Settings>
    </userSettings>
</configuration>